/* banner azzurro  */
header{
    background-image: url('../img/pattern.png');
    background-repeat: repeat-x;
    height: 100px;
    background-color:#4EA0FF ;
}

/* logo the booleaner */
.logo{
    height: 50px;
    margin-top: 40px;
}
/* colore autore */
.autore{
    color: #808080;
}

/* colore booleaner */
span{
    color: #20A9E5;
}

/* colore tabella */
th{
    background-color: #20A9E5;
    color: white;
    text-align: left;
}

.tabella{
    background-color: #B1E5F2;
}

.bordi-tabella{
    border-collapse: collapse;
}
.cell-bigger{
    width: 50%;
}
/* footer */
h4{
    color: #808080;
}

.testo-bianco{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#pc{
    background-image: url('../img/monitor.jpg');
    height: 200px;
    width: 250px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
#grafico{
    background-image: url('../img/graph.jpg');
    height: 200px;
    width: 250px;
    background-repeat: no-repeat;
}

